<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Error {{.StatusCode}}</title>
  <link rel="stylesheet" href="/static/styles.css" />
</head>

<body>
  <div class="error-container">
    <div class="error-content">
      <h1>{{.StatusCode}} {{.Header}}</h1>
      {{if eq .StatusCode 503}}

      <p>If the address is correct, check the following suggestions:</p>
      <li>Try again later. The site could be temporarily unavailable or too busy.</li>
      <li>{{.Message}}</li>
      <li>If your computer or network is protected by a firewall or proxy, make sure your browser is permitted to access the web.</li>

      {{else}}

      <p>{{.Message}}</p>

      {{end}}

      {{if eq .StatusCode 404}}
      <a href="/" class="back-link">Take me home</a>
      {{end}}
    </div>
  </div>
</body>

</html>