<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Frontend/static/index.css">
</head>

<body>
    <div class="parent">
        <div class="child">
            {{ range .}}
            <ul>
                <p>{{.Name}}</p>
                <p>{{.CreationDate}}</p>
                <p>{{.FirstAlbum}}</p>
                <p>{{.Location}}</p>
                <p>{{.Dates}}</p>
                <p>{{.Relation}}</p>
            </ul>
            {{end}}
        </div>
    </div>
</body>

</html>