<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/moreInfo.css">
</head>

<body>
    <div class="parent">
        <div class="child">
            <div class="artist-details">
                <div class="photo"></div>
                <div class="details"></div>

            </div>

            <div class="band-members">
                <div class="band-member">
                    <p>Artist name</p>
                </div>
                <div class="band-member">
                    <p>Artist name</p>
                </div>
                <div class="band-member">
                    <p>Artist name</p>
                </div>
                <div class="band-member">
                    <p>Artist name</p>
                </div>
                <div class="band-member">
                    <p>Artist name</p>
                </div>
                <div class="band-member">
                    <p>Artist name</p>
                </div>
                <div class="band-member">
                    <p>Artist name</p>
                </div>
            </div>
            <div class="dates">
                <div class="date">
                    <p>date1</p>
                </div>
                <div class="date">
                    <p>date2</p>
                </div>
                <div class="date">
                    <p>date3</p>
                </div>
                <div class="date">
                    <p>data4</p>
                </div>
                <div class="date">
                    <p>date5</p>
                </div>
                <div class="date">
                    <p>date6</p>
                </div>
                <div class="date">
                    <p>date6</p>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>

</html>